@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    border: 1px;
    background-color: #e2e8f0;
    max-width: 350px;
    padding: 1rem 3rem;
  }
  
  .main-container {
    background-color: white;
    /* max-width: 350px; */
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 8px 5px 5px #94a3b8;
  }
  
  img {
    display: flex;
    height: 50vh;
    width: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
  }

  .header-text {

    display: flex;
    flex-direction: column;
  }
  
  .main-heading {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0rem 0.8rem;
    /* position: absolute; */
  }
  
  .small-text {
    color: grey;
    font-weight: bold;
    padding: 0rem 0.8rem;
    /* position: absolute; */
  }
  
  body .main-text {
    margin: 1.5rem 0rem;
    font-size: 0.9rem;
    padding: 0rem 0.8rem;
  }
  
  button {
    cursor: pointer;
    /* flex: row; */
    margin: 0.5rem;
  }
  
  footer {
    flex: inherit;
    /* margin: 0rem 1rem; */
    justify-content: space-around;
    /* gap: 100px; */
    margin-bottom: 0.3rem;
    margin-left: auto;
  }
  
  footer .main-btn {
    border: none;
    color: purple;
    background-color: white;
    font-size: 0.9rem;
    font-weight: bold;
    display: none;
  }
  
  footer .other-btn {
    
    /* display: flex-inline; */
    border: none;
    background-color: white;
    font-size: 1.1rem;
    padding-right: 1.5rem;
    
  }
  